<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ title }}</ion-title>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="arrow-back-sharp"></ion-icon>
      Back
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <app-accordion name="Description" description="{{ strippedHTML }}">
  </app-accordion>

  <!--
     <ion-list
    class="mapsList"
    *ngFor="let location of locations"
    (click)="onSelect(location)"
  >
    <ion-item>
      <ion-label> {{ location.address }}</ion-label>
      <ion-icon name="navigate-sharp"></ion-icon>
    </ion-item>
  </ion-list>


    <ion-button (click)="setMap()">Locations</ion-button>
  




  <app-accordion name="Locations"> 

  </app-accordion>
    -->
  <app-accordion name="Maps" [mapLocations]=locations>
  </app-accordion>
    <!-- <ion-list
    class="mapsList"
    *ngFor="let location of locations"
    (click)="onSelect(location)"
  >
    <ion-item>
      <ion-label> {{ location.address }}</ion-label>
      <ion-icon name="navigate-sharp"></ion-icon>
    </ion-item>
  </ion-list> -->

 
</ion-content>
